<!DOCTYPE html>
<html>
  <head>
 	<meta charset="utf-8">
    <title><Quiz></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Su respuesta es <%= respuesta %></h1>
    <p><a href="/quizes/question">Volver a la pregunta</a></p>
  </body>
</html>
